.edu_level {
  border: 1px solid #e1e1e1;
  border-radius: 20px;
  padding: 0 20px;
  font-size: 16px;
  font-family: inherit;
  height: 74px;
  max-width: 100%;
}

.edu_level select {
  width: 100%;
  height: 100%;
  background-color: #fff;
  color: #6b6b83;
  border: none;
  outline: none;
}
